* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* <!-- container for header and main sections --> */
.container{
    display: flex;
}

/* <!-- header on the left includes the logo and the nav bar--> */
header{
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    padding: 20px 20px 0;   
}

header .main-logo img{
    width: 70%;
}

/* <!-- nav bar (navside)  is divided into 3 sections, top, playlist and bottom--> */
.nav-side{
    height: calc(100% - 80px);
    font-size: 12px;
    color: rgb(109, 109, 109);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.home, .find, .library, .install, .user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-side-top{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 30px 0;
}

.nav-side-top i,  .nav-side-bottom .user .user-icon i{
    font-size: 2em;
}

.nav-side-bottom .user, .nav-side-playlist h3{
    color: white;
}

.nav-side-playlist ul{
    list-style-type: none;
}

.nav-side-playlist li{
   margin: 20px 0;
}

.nav-side-bottom{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

/* inizio main */
main{
    width: calc(100% - 200px);
    /* width: 100%; */
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
}
 /* inizio upgrade bar e bottone relativo */
main .upgrade{
    height: 10%;
    background-color: rgb(17, 18, 23);
    text-align: right;
}

main .upgrade .btn{
    position: relative;
    right: 25px;
    top: 25px;
    color: white;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 15px;
    padding: 9px 35px;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.8;
}

/* <!-- content is divided into 2 sections, a nav bar at the top and a bigger central area with cards --> */
main .content{
    height: 90%;
    background-color: rgb(20, 25, 34);
    /* display: flex;
    flex-direction: column; */
}

main .content .nav-main{
    height: 5%;
    width: 100%;
    text-align: center;
    color: rgb(104, 106, 112);

    display: flex;
    justify-content: center;
    align-items: center;
}

main .content .nav-main ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 12px;

    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}

/* inizio playlist central content */
main .content .playlist{
    height: 95%;
    overflow-y: scroll;

    /* margin: 15px; */
    /* display: flex;
    flex-direction: column;
    gap: 35px; */
}

.row{
    padding: 15px 10px;
    margin-top: 15px;
    /* height: 300px; */
    /* width: 100%; */

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.col-text{
    height: 15%;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}

.col-album{
    height: 85%;

    display: flex;
    justify-content: flex-start;
    /* gap: 10px; */
}

.card{
    width: calc(100% / 6 - 0px);
    padding: 0 5px;
    /* width: calc(100% / 6 - (10px / 6 * 6)); */
    /* width: calc(100% / 3 - (15px / 3 * 2)); */
    text-align: center;

    display: flex;
    flex-direction: column;
}

.card img{
    width: 95%;
}

.card-img.round img{
    border-radius: 50%;
}

.card-text h3{
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}

.card-text h4, .col-text h4{
    color: rgb(109, 109, 109);
    font-size: 12px;
}

.col-text h4{
    margin: 7px 0 0;
}


footer{
    height: 80px;
    background-color: rgb(36, 36, 36);
}

.playbar{
    display: flex;
    justify-content: space-between;
}

/* .play.left > div{
    border: 1px solid yellow;
} */

.play.left, .play.right{
    max-width: 280px;
    width: 100%;
}

.play.left{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
}

.left-img{
    height: 80%;
}

.left-img img{
    height: 100%;
}

.play.left .left-track{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 12px ;
}

.play.left .left-track span{
    font-size: 10px;
    font-weight: bold;
    color: rgb(175, 172, 172);
} 

.play.left .left-icons{
    display: flex;
    gap: 10px;
}

.play.left .left-icons i{
    opacity: 0.6;
}

.play.mid{
    min-width: 250px;
    max-width: 540px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.play.mid .mid-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding: 7px 0 0;
    gap: 20px;
}

.play.mid .mid-buttons .fa-regular{
    font-size: 1.6em;
}

.play.mid .track-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50%;  
    font-size: .8em;
    padding-bottom: 7px;
}

.bar-wrapper{
    flex-grow: 1;
}

.whole-bar{
    background-color: burlywood;
    height: 3px;
    border-radius: 1.5px;
    width: 100%;
}

.partial-bar{
    background-color: white;
    width: 17%;
    height: 100%;
    border-radius: 1.5px;
}

.play.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
}

.right-icons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.right-icons i{
    font-size: .8em;
}

.volume{
    flex-grow: 1;
}

.volume-100{
    background-color: rgb(69, 69, 69);
    height: 3px;
    border-radius: 1.5px;
    width: 90%;
}

.volume-partial{
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 1.5px;
}


